:root {
    --primary-color: #505033;
    --secondary-color: #264969;
    --accent1-color: #cfcfb4;
    --accent2-color: #b4cde4;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 500px;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'Georgia', serif;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 5px;
    max-width: 600px;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.hero article img {
    width: 150px;
    height: auto;
}

section {
    text-align: center;
    padding: 20px;
}

.adventure {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}

.adventure img {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a img:hover {
    transform: scale(1.2);
}
.team {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.team figure {
    text-align: center;
}
.team img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}